/* =====================================================================================
=== #CSS  ==============================================================================
=== #Updated 08/11/2012 ================================================================ 
=======================================================================================*/

#video_background { position: absolute; bottom: 0px; right: 0px; min-width: 100%; min-height: 100%; width: auto; height: auto; z-index: -1000; overflow: hidden; }


/* =====================================================================================
=== #Basic Elements ====================================================================
=======================================================================================*/

body 			{ font-size: 100%; color: #fff; }
.center			{ text-align: center; }
.with-background { background-color: #fff; color: #000; height: 100%; min-height: 900px; }

/* =====================================================================================
=== #Lists =============================================================================
=======================================================================================*/

a.button { background-color: #fcfcfc; color: #000; padding: 10px 20px; display: inline-block; }


/* =====================================================================================
=== #Typografie ========================================================================
=======================================================================================*/

h1 				{ font-size: 2em; line-height: 1; color: #fff; font-family: 'Bebas Neue', Bebas Neue, sans-serif; }
.logo			{ border: 5px solid #fff; text-align: center; padding: 10px; display: inline-block; }
h2 				{ font-size: 1.3125em; line-height: 1.142857142; font-weight: bold; margin-bottom: 15px; }
h3 				{ font-size: 1.125em; line-height: 1.333333333; font-weight: bold;  margin-bottom: 15px;}
p 				{ color: #333; font-family: Georgia; font-size: 1.3rem; line-height: 1.75; margin: 1.25em 0; }
h1,h2,h3,h4,p 	{ -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; }
/* =====================================================================================
=== #Images =============================================================================
=======================================================================================*/

img				{ margin-bottom: 15px; } 
img:last-child	{ margin-bottom: 0px; }
img.scale 		{ max-width: 100%; height: auto; }
img.rounded 	{ border-radius: 85%; }

/* =====================================================================================
=== #Links =============================================================================
=======================================================================================*/


/* =====================================================================================
=== #Fonts @font-face ==================================================================
=======================================================================================*/

/* =====================================================================================
=== @MediaQueries  ====================================================================
=======================================================================================*/


/* MOBILE */
@media only screen and (max-width: 767px) { 
	p  	         			{ font-size: 1em; }
.center 				{ text-align: left; }

}

/* MOBILE LANDSCAPE */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
p  	         			{ font-size: 1em; }
.center 				{ text-align: left; }


}


